Author: Christopher Castig | @castig
Developer @GA in NYC
*/

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

.alignright {
	float: right; 
	padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
	float: left; 
	padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

body {
     margin: auto;
     width: 960px;
}

/* Center the container */
#container {
	width: 960px;
	margin: auto;
}



#checking {
     width: 450px;
     text-align: center;
     border: 1px dashed gray;
     float: left;
     display: block;
     padding: 10px;
     margin-top: 200px;
     border-radius: 15px;
}

#savings {
     width: 450px;
     text-align: center;
     border: 1px dashed gray;
     float: left;
     display: block;
     padding: 10px;
     margin-top: 200px;
     border-radius: 15px;
}

.clear {
     clear: both;
}