.blue{
	background: blue;
}

.red{
	background: red;
}

.box{
	border: 1px dashed #000;
	margin: 5px;
	float: left;
	display: block;
	width: 50px;
	height: 50px;
	padding: 20px 20px;
	text-align: center;
	vertical-align: middle;
}

.box:hover{
	color: #0000CC;
    text-shadow: .25px .25px #0000CC;
    font-size: 30px;

}

.clear{
	clear: both;
}

body {
	font-size: 20px;
	font-family: Helvetica, sans-serif;
	background: #D6D6D6 url("http://myemma.com/static/global/img/bg-hatch.png") 50% 0;
}


#container{
	
	width: 306px;
	height: 306px;
	padding: 20px 20px 20px 20px;
	margin: 50px auto;
	border: 5px solid #333;
	border-radius: 10px;
	background-color: #eaebeb;
}

#b4{
	color: red;
}

#b6{
	color: blue;
}
